# Go
teamup.exe
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.env

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vercel/

# OS Files
.DS_Store
Thumbs.db
